body {
    background-color:rgb(255, 255, 255);
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 4rem;
  color:rgb(179,69,47);
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: 'Cormorant Infant', serif;
  color:rgb(179,69,47);
}

p {
  font-size: 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color:rgb(179,69,47);
}

.grid_container {
  padding: 0;
  margin: 0;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(290px,1fr));
  grid-gap: 0.5rem;
}

.item1 {
  border-radius: 15px;
  border: 1px solid rgb(179,69,47);
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
}

.item2 {
  margin: 1rem;
  background-color: rgb(255, 255, 255);
}

.item3 {
  margin: 1rem;
  background-color: rgb(255, 255, 255);
}

.grid_container2 {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(290px,1fr));
  grid-gap: 1rem;
}

.para1 {
  border: 1rem;
  background-color: rgb(255, 255, 255);
}

.para2 {
  border: 1rem;
  background-color: rgb(255, 255, 255);
}

.para3 {
  border: 1rem;
  background-color: rgb(255, 255, 255);
}

